sudo: required
services:
– docker
language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - python -m pytest
after_success:
  - sh .travis/deploy_dockerhub.sh