backports.functools-lru-cache==1.5
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
client==0.0.1
cycler==0.10.0
Django==1.11.5
Flask==0.12.2
httplib2==0.10.3
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
numpy==1.15.2
oauth2client==4.1.2
pyasn1==0.3.7
pyasn1-modules==0.1.5
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2017.2
pytest==4.4.1
requests==2.18.4
rsa==3.4.2
six==1.11.0
sqlalchemy==1.2.0b2
urllib3==1.22
virtualenv==15.1.0
Werkzeug==0.12.2
flake8==3.7.7
pandas<=0.24.2
nltk==3.4.1

